
/* 4 - External */
body {
    padding-bottom: 500px;
}

h3 {
    color: blue;
}

p {
    color: blueviolet;
}

/* Algum comentário */
/* Mais um comentário */
/* Terceiro comentário */

/* classes */
.paragraph {
    background-color: black;
    color: aqua;
    padding: 5px;
}

/* IDs */
#exclusive-title {
    background-color: purple;
    color: yellow;
    padding: 10px;
    font-size: 40px;
}